ago==0.0.92
alembic==0.9.9
aniso8601==1.1.0
arrow==0.12.1
asn1crypto==0.24.0
attrs==17.4.0
Automat==0.6.0
awscli==1.14.30
beautifulsoup4==4.6.0
binaryornot==0.4.4
botocore==1.8.34
certifi==2018.1.18
cffi==1.11.4
chardet==3.0.4
click==6.7
colorama==0.3.7
constantly==15.1.0
cookiecutter==1.6.0
cryptography==2.1.4
cssselect==1.0.3
docutils==0.14
dotmap==1.2.20
elasticsearch==6.1.1
fastcluster==1.1.24
feedfinder2==0.0.4
feedparser==5.2.1
Flask==0.12.2
Flask-Login==0.4.1
Flask-Migrate==2.1.1
Flask-RESTful==0.3.4
Flask-Script==2.0.5
Flask-SQLAlchemy==2.3.2
future==0.16.0
gunicorn==19.7.1
hjson==3.0.1
hurry.filesize==0.9
hyperlink==17.3.1
idna==2.6
incremental==17.5.0
itsdangerous==0.24
jieba3k==0.35.1
Jinja2==2.10
jinja2-time==0.2.0
jmespath==0.9.3
langdetect==1.0.7
lxml==4.1.1
Mako==1.0.7
MarkupSafe==1.0
marshmallow==2.2.0
marshmallow-jsonapi==0.3.0
news-please==1.2.35
newspaper3k==0.2.6
nltk==3.2.5
numpy==1.14.2
parsel==1.3.1
Pillow==8.3.2
plac==0.9.6
poyo==0.4.1
psycopg2==2.7.1
pyasn1==0.4.2
pyasn1-modules==0.2.1
pycparser==2.18
PyDispatcher==2.0.5
PyMySQL==0.8.0
pyOpenSSL==17.5.0
python-dateutil==2.7.2
python-editor==1.0.3
pytz==2015.7
PyYAML==3.12
queuelib==1.4.2
readability-lxml==0.6.2
requests==2.18.4
requests-file==1.4.3
rsa==3.4.2
s3transfer==0.1.12
scipy==1.0.1
Scrapy==1.5.0
service-identity==17.0.0
six==1.11.0
SQLAlchemy==1.2.6
tldextract==2.2.0
Twisted==17.9.0
urllib3==1.22
w3lib==1.18.0
warcio==1.5.1
Werkzeug==0.14.1
whichcraft==0.4.1
zope.interface==4.4.3
